Repository longtho638-jpg/apexrebate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node -e "process.exit(0)"

.lintstagedrc.json:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix"
  ],
  "scripts/**/*.{js,mjs}": [
    "eslint --fix"
  ],
  "**/*.{json,md,mdx}": [
    "node -e \"process.exit(0)\""
  ]
}

feat: add HeroSectionUI5 component
  src/components/HeroSectionUI5.tsx
Due: eslint --fix

chore: add UIUX v5 color tokens
  src/uiux-v5/tokens/colors.ts
Due: eslint --fix

Add Button component with vfeat: add UIUX v5 Button componentariant support
  src/uiux-v5/atoms/Button.tsx
Due: eslint --fix

Add Hero component with featfeat: add Hero organism component for UIUX v5ure cards
  src/uiux-v5/organisms/Hero.tsx
Due: eslint --fix

Add UIUXV5DemoPage compfeat: add UIUX v5 demo pageonent with Hero
  src/app/[locale]/uiux-v5-demo/page.tsx
Due: eslint --fix

ci: stage1 hạt giống - local verification pass
  src/app/global-error.tsx
Due: eslint --fix

ci: stage2 cây - staging deployment verified
  .vercel-url
  .vscode/settings.json
Due: node -e "process.exit(0)"

ci: stage4 đất - production deployment complete
  .tmp/jest-localstorage
  jest.setup.js
  package.json
  scripts/run-tests-with-localstorage.cjs
Due: node -e "process.exit(0)"

fix: remove prisma db push from Vercel build command
  vercel.json
Due: node -e "process.exit(0)"

fix: exclude qwen-code from TypeScript build
  tsconfig.json
Due: node -e "process.exit(0)"

feat: implement Binance and Bybit exchange integrations
  src/lib/exchanges/binance.ts
  src/lib/exchanges/bybit.ts
  src/lib/exchanges/exchange-manager.ts
Due: eslint --fix

feat: comprehensive monitoring setup with Sentry
  instrumentation.ts
  next.config.mjs
  package-lock.json
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/global-error.tsx
Due: eslint --fix, node -e "process.exit(0)"

fix(v5): UI/UX V5 locale routing + production build fixes
  next.config.mjs
  sentry.server.config.ts
  src/app/[locale]/v5/calculator/page.tsx
  src/app/[locale]/v5/dashboard/page.tsx
  src/app/[locale]/v5/home/page.tsx
  src/app/[locale]/v5/settings/page.tsx
  src/lib/exchanges/base-exchange.ts
  src/lib/exchanges/coinbase.ts
  src/lib/exchanges/kucoin.ts
  src/uiux-v5/molecules/Footer.tsx
  src/uiux-v5/molecules/NavBar.tsx
  src/uiux-v5/templates/CalculatorTemplate.tsx
  src/uiux-v5/templates/DashboardTemplate.tsx
  src/uiux-v5/templates/HomepageTemplate.tsx
  src/uiux-v5/templates/SettingsTemplate.tsx
Due: eslint --fix

fix(v5): Calculator Server/Client Component boundary
  src/app/[locale]/v5/calculator/page.tsx
  src/uiux-v5/templates/CalculatorTemplate.tsx
Due: eslint --fix

fix(v5): Add 'use client' to Footer for production bundling
  src/uiux-v5/molecules/Footer.tsx
Due: eslint --fix

docs(orchestrator): complete UI V5 fix workflow - all stages verified
  ORCHESTRATOR_WORKFLOW_FINAL.md
  ORCHESTRATOR_WORKFLOW_UPDATED.md
  plans/README.md
  plans/ui-v5-phase-01-plan.md
  plans/ui-v5-phase-02-plan.md
  plans/ui-v5-phase-03-plan.md
Due: node -e "process.exit(0)"

feat(gemini-3): deploy Gemini 3.0 Pro Preview with Extended Thinking
  .gemini-free-config.json
  dev.log
  dist/policy-bundle.json
  package-lock.json
  package.json
  scripts/deploy-gemini-3.mjs
  src/app/api/gemini-3/generate/route.ts
  src/components/admin/admin-client.tsx
  src/lib/ai-config.ts
  src/lib/gemini-3-integration.ts
  test-gemini-3.js
Due: eslint --fix, node -e "process.exit(0)"
