Repository longtho638-jpg/apexrebate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, node -e "process.exit(0)"

fix: deep bug fixes for OPA + SLO dashboard (B1-B5)
  .gitignore
  dev.log
  evidence/evidence.json
  evidence/guardrails.json
  evidence/otel/summary.json
  packages/policy/payouts.rego
  packages/policy/rollout_allow.rego
  scripts/opa/start.sh
Due: node -e "process.exit(0)"

feat: add OPA Payouts Policy with auto-bundle update
  dev.log
  package.json
  prisma/schema.prisma
  scripts/opa/pull-bundle.mjs
  scripts/opa/start.sh
  src/app/api/policy/bundle/active/route.ts
  src/app/api/policy/bundle/update/route.ts
  src/app/api/policy/payout/check/route.ts
Due: eslint --fix, node -e "process.exit(0)"

docs: add Section 14 OPA Payouts + MAX_LEVEL reference
  AGENTS.md
Due: node -e "process.exit(0)"

docs: update deployment status - Admin DLQ + SEED Marketplace live
  AGENTS.md
Due: node -e "process.exit(0)"

fix: remove escaped locale dir + add CSP headers
  DEPLOYMENT_ADMIN_SEED_NOV10.md
  next.config.ts
  src/app/\[locale\]/layout.tsx
Due: eslint --fix, node -e "process.exit(0)"

fix: remove broken CSP header
  next.config.ts
Due: none

fix: restore full middleware with i18n + auth
  src/middleware.ts
Due: eslint --fix

docs: add Founder Admin Schema deployment (8 models, 87 routes)
  AGENTS.md
Due: node -e "process.exit(0)"

fix: preserve locale in signin redirect (vi, th, id, en)
  src/components/auth/signin/SignInClient.tsx
Due: eslint --fix

docs: add signin redirect fix to Week 1 milestones
  AGENTS.md
Due: node -e "process.exit(0)"

docs: update AGENTS.md with comprehensive deep fix homepage redirect (Nov 10)
  AGENTS.md
Due: node -e "process.exit(0)"

fix: restore missing user schema columns (isSuspicious, kyc, status)
  .vscode/founder-admin-tasks.json
  AGENT_EXECUTION_COMMANDS_NOV10.md
  DEEP_CHECK_ALL_SEED_PAGES.md
  DEEP_FIX_HOMEPAGE_COMPLETE_REPORT.md
  DEEP_FIX_HOMEPAGE_REDIRECT.md
  DEEP_USER_JOURNEY_TEST_A_Z_NOV10.md
  FOUNDER_ADMIN_ARCHITECTURE.md
  FOUNDER_ADMIN_DEPLOYMENT_COMPLETE.md
  FOUNDER_ADMIN_DEPLOYMENT_SUMMARY.md
  FOUNDER_ADMIN_QUICK_START.md
  FOUNDER_ADMIN_SCHEMA_DEPLOYMENT.md
  KIMI_K2_INTEGRATION_GUIDE.md
  PATCHES_MASTER_GUIDE.md
  QUICK_FIX_REFERENCE.md
  SUMMARY_DEEP_FIX_A_Z.md
  TEST_DEEP_FIX_VERIFICATION.md
  founder-admin-deploy.sh
  founder-admin-implementation.patch
  prisma/schema.prisma
  vercel.json
Due: node -e "process.exit(0)"

fix: export auth function from lib/auth.ts for DLQ routes
  src/lib/auth.ts
Due: eslint --fix

fix: admin redirect after signin - decode URL-encoded callbackUrl
  DEEP_FIX_HOMEPAGE_NO_REDIRECT.md
  db/dev.db
  dev.log
  src/app/[locale]/page.tsx
  src/app/layout-root-metadata.ts
  src/app/page.tsx
  src/components/auth/signin/SignInClient.tsx
Due: eslint --fix, node -e "process.exit(0)"

docs: add detailed admin redirect signin fix report
  ADMIN_REDIRECT_SIGNIN_FIX.md
Due: node -e "process.exit(0)"

fix: admin redirect loop after signin - decode callback URL and use NextAuth result.url
  ADMIN_SIGNIN_FIX_NOV10.md
  src/components/auth/signin/SignInClient.tsx
  src/lib/auth.ts
Due: eslint --fix, node -e "process.exit(0)"

fix: middleware callbackUrl must include locale prefix (vi/th/id/en)
  ADMIN_SIGNIN_REDIRECT_FIX.md
  middleware.ts
Due: node -e "process.exit(0)"

fix: sync src/middleware.ts with root middleware.ts for callbackUrl locale prefix
  ADMIN_SIGNIN_CACHE_CLEAR.md
  src/middleware.ts
Due: eslint --fix, node -e "process.exit(0)"

docs: add admin signin redirect fix documentation and cache clear script
  ADMIN_SIGNIN_REDIRECT_FINAL.md
  scripts/clear-vercel-cache.sh
Due: node -e "process.exit(0)"

fix: admin redirect loop - validate role in NextAuth callback
  middleware.ts
  src/components/auth/signin/SignInClient.tsx
  src/lib/auth.ts
Due: eslint --fix

docs: add admin redirect loop fix (NextAuth role validation)
  AGENTS.md
Due: node -e "process.exit(0)"

fix: next.js 15 params deprecation and missing i18n keys
  src/app/[locale]/page.tsx
  src/components/navbar.tsx
Due: eslint --fix

docs: add admin credentials and password reset fix
  AGENTS.md
Due: node -e "process.exit(0)"

fix: await searchParams in signin page (Next.js 15)
  src/app/[locale]/auth/signin/page.tsx
Due: eslint --fix

docs: add Next.js 15 searchParams fix to admin redirect section
  AGENTS.md
Due: node -e "process.exit(0)"

docs: complete signin deep fix summary (4 fixes)
  SIGNIN_DEEP_FIX_COMPLETE.md
Due: node -e "process.exit(0)"

docs: update production deployment URL (Nov 10 - admin signin fixes)
  AGENTS.md
Due: node -e "process.exit(0)"

fix: signin redirect race condition - use server-side redirect (redirect:true)
  ADMIN_SIGNIN_FIX_NOV10_COMPLETE.md
  AGENTS.md
  DEEP_FIX_SIGNIN_REDIRECT_BUG.md
  SIGNIN_REDIRECT_FIX_NOV10.md
  dev.log
  middleware.ts
  src/components/auth/signin/SignInClient.tsx
  src/lib/auth.ts
Due: eslint --fix, node -e "process.exit(0)"

fix: signin v2 - session verification with retry (fixes redirect:true exception)
  ADMIN_SIGNIN_MANUAL_TEST.md
  SIGNIN_FIX_COMPLETE_REPORT.md
  SIGNIN_FIX_V2_SESSION_RETRY.md
  check-admin-verify.js
  dev.log
  test-admin-login.mjs
Due: node -e "process.exit(0)"

chore: add claudekit-engineer submodule to factory system
  .gitmodules
Due: none

fix: update lock file for npm ci
  package-lock.json
Due: node -e "process.exit(0)"

fix: update jest environment for API tests (jsdom→node for Request support)
  tests/unit/api/dashboard.test.ts
  tests/unit/api/user-profile.test.ts
  tests/unit/api/user-referrals.test.ts
Due: none

docs: add comprehensive deep debug instructions for Qwen
  QWEN_DEEP_DEBUG_COMMAND.md
Due: node -e "process.exit(0)"

docs: production deployment test report - all systems PASS
  QWEN_DEEP_TEST_REPORT.md
Due: node -e "process.exit(0)"

ci: stage2 cây - staging deployment verified
  .vercel-url
  playwright-report/data/03b4572ad08fcfe6bac25fac20bd01db2db0a3ec.png
  playwright-report/data/3a218b0b8f8847eb639f64d3056a91bcd346a569.png
  playwright-report/data/3d56d7631552e24c69417e8604c356c1fe36b6f2.png
  playwright-report/data/3ef971790f5165fbc0ab696cd398d94ff04a2d89.png
  playwright-report/data/4e278840f8a5a1cd9d97e1ffbe856368feec3305.png
  playwright-report/data/787b2d65290a55f37d5b4c93df53e5f27438666c.png
  playwright-report/data/97b500bd09cfcccc746342e1a046b5e4598935df.png
  playwright-report/data/ac834e360598fe90a9935eadbf372de5e4262875.png
  playwright-report/data/b232f2c4c128721cd6ccec1232a10a3115f60515.png
  playwright-report/data/bd16741d75012b6b3b584e8ccc03f7c42ad07d02.png
  playwright-report/data/dbcaaf21b94e218ff41491d4c853602250f386cc.png
  playwright-report/index.html
  test-results/.last-run.json
  test-results/calculator-Guest---Calculator-Xử-lý-input-không-hợp-lệ-webkit/error-context.md
  test-results/calculator-Guest---Calculator-Xử-lý-input-không-hợp-lệ-webkit/test-failed-1.png
Due: node -e "process.exit(0)"

ci: stage3 rừng - production-like verified
  .vercel-url
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{ts,tsx}) or (any of: scripts/**/*.{js,mjs})
  node -e "process.exit(0)": any of: **/*.{json,md,mdx}
